
FeedR is a fast and simple application that let you read what is matter to you. You can easily search and add any news feeds.
Then read articles whenever you want, they are saved on your phone. Share your favorite feeds with Facebook, Twitter, Buffer, Linkedin and even more... <br>
Don't need to create an account to use FeedR! <br><br>

In a few words:
<ul>
    <li>no account need</li>
    <li>news feeds are stored locally</li>
    <li>images are stored locally</li>
    <li>favorite news are stored locally</li>
    <li>mobile / tablet layouts</li>
    <li>nice and simple</li>
    <li>material design</li>
</ul>

The app is currently a beta version.

Feel free to send me your suggestions by leaving a comment.