Memorize It is for students, schoolchildren or any other person willing to learn new languages, lists of definitions, math formulas, historical events etc.
Thanks to a learning method and a self-assessment feature, learn from anywhere easily, quickly and in a fun way.
To stimulate your long time memory, a customizable reminder system notifies it’s time to go back to your lesson. <br> <br>

Features
<ul>
    <li>Create lists and add your vocabulary and definitions</li>
    <li>Import your own pre-established lists or traduce your vocabulary directly from the included translator, then add it to your lists</li>
    <li>Choose your learning mode: training mode or free mode</li>
    <li>Test your understanding thanks to our self-assessment tool</li>
    <li>Work from public transports, at a pub, in the bathroom, while riding your unicorn or anywhere else!</li>
</ul>

Memorize It is free and doesn’t require registration.
A donation system allows you to support our app