Simple, Innovative, Surprising and totally Free!
Picture you're sitting at a cafe, a library or any other public place, suddenly you see someone you would like to approach but you aren't sure how to do it..
WizzLuck has the answer!
By using the "Wizz" tool, you will be able to find the specific person you're interested in. If desired, you will be able to contact them immediately, no mutual match is needed.
Don't feel like contacting them straight away? Add them to your "WizzList" and give yourself a 12 hour window to start a conversation.
If during these 12 hours you still don't know how to start the conversation and want to be a bit creative simply use the "Shake".
By clicking the W button on the chat, let WizzLuck do it for you and take you to a whole new level.
Look around you and let the experience begin!